<a href="https://colab.research.google.com/github/giovannylopezd/WebScrappingUFdata/blob/main/API_UF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
# Get the current year
current_year = datetime.now().year

# Initialize an empty DataFrame to store the data
all_data = pd.DataFrame()

In [4]:
# Loop over the range of years from 2013 to the current year
for year in range(2013, current_year + 1):
    # Update the URL with the current year
    url = f"https://www.sii.cl/valores_y_fechas/uf/uf{year}.htm"
    
    # Read the table from the URL
    table = pd.read_html(url, attrs = {'id':'table_export'})

    # Convert to pd.Dataframe
    table = pd.DataFrame(table[0])

    # Tidy Format
    month_cols = table.columns[1:-1].tolist()
    table = pd.melt(table, 
                  id_vars=['Día'], 
                  value_vars = month_cols, 
                  var_name='Mes', 
                  value_name='Valor UF')

    # Add an additional column indicating the year
    table['Año'] = year

    # Append the table to the all_data DataFrame
    all_data = pd.concat([all_data, table])

    # Reset the index of the all_data DataFrame
    all_data.reset_index(drop=True, inplace=True)

In [5]:
all_data

      Día  Mes   Valor UF   Año
0       1  Ene  22.837,06  2013
1       2  Ene  22.833,37  2013
2       3  Ene  22.829,68  2013
3       4  Ene  22.825,99  2013
4       5  Ene  22.822,30  2013
...   ...  ...        ...   ...
3746   27  Nov        NaN  2023
3747   28  Nov        NaN  2023
3748   29  Nov        NaN  2023
3749   30  Nov        NaN  2023
3750   31  Nov        NaN  2023

[3751 rows x 4 columns]

In [ ]:
value = input('Enter a value: ')
selected_row = all_data[all_data['Mes'] == value]
print(selected_row.to_string(index=False))

In [ ]:
year = int(input('Ingresa un Año: '))
month = int(input('Ingresa un Mes: '))
day = int(input('Ingresa un Día del Mes: '))
date1 = datetime.date(year, month, day)

Ingresa un Año: 2013
Ingresa un Mes: 1
Ingresa un Día del Mes: 19

In [ ]:
date1

datetime.date(2013, 1, 19)